
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    font-family:'BYas',Sans-Serif;
    
}

body{
    background-color: gainsboro;
}



.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #2a2325;
    color: ghostwhite;
    justify-content: center;
    -webkit-box-shadow: 2px 4px 8px -3px #000000; 
    box-shadow: 2px 4px 8px -3px #000000;
}

.logo{
    text-align: justify;
    padding-top: 10px;
    padding-left: 10px;
}

.headline{
    padding-bottom: 20px;
}

.details{
    margin-top: 5px;
}

.all-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}

.container{
    background-color: gainsboro;
    height: 100%;
    width: 100%;
}

.card{
    margin: 30px;
    overflow: auto;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 16px -2px #000000; 
    box-shadow: 2px 4px 16px -2px #000000;
    width: 230px;
    height: 160px;
}

.card-header{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}


.avatar{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

h3{
    text-shadow: 2px 2px 5px  #c4c4c4;
    font-weight: bolder;
    font-size: 25px;
}
.card-links{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.button {
    margin-top: 10px;
    font-weight: bold;
    width: 80%;
    display: inline-block;
    padding: 2px 2px;
    /* font-size: 24px; */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1da4c9;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px #999;
  }
  
  .button:hover {background-color: #185e72}
  
  .button:active {
    background-color:#196c83;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }


  /* width */
.card::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  .card::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .cardy::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .card::-webkit-scrollbar-thumb:hover {
    background: #555;